<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= title %></title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"> 
  </head>

<body>


  <!--Navbar -->
<!-- <nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color"> -->
  <nav class="mb-1 navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">City Courier</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Staff
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Add new</a>
          <a class="dropdown-item" href="#">Listing</a>
          <a class="dropdown-item" href="#">Verify</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Courier
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/courier">Add</a>
          <a class="dropdown-item" href="/track">Track</a>
          <a class="dropdown-item" href="/courier/summery">Summery</a>
        </div>
        <li class="nav-item active">
          <a class="nav-link" href="/staff">Staff Dashboard</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/admin">Admin Dashboard</a>
        </li>
      </li>
    </ul>


    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
           <% if(locals.user){%>
            <%= locals.user.name %>
            <% } else {%>
              Profile
            <% }%>
            </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
          <a class="dropdown-item" href="/user/profile">My account</a>
          <a class="dropdown-item" href="/user/signout">Log out</a>
          <a class="dropdown-item" href="/user/signup">Sign up</a>
          <a class="dropdown-item" href="/user/signin">Log in</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->

<!-- alert box-->
<% var messages = getMessages(); %>
<% if (messages.message) { %>
<div class="alert <%= messages.type == 'success' ? 'alert-success' : 'alert-danger' %>">
  <strong><%= messages.type == 'success' ? 'Success: ' : 'Error: ' %></strong><%= messages.message %>
</div>
<% } %>
  </div>
</div>
<!--alert box end-->

  <%- include(page) %>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>