<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                                <%= locals.user.name%>
                            </h5>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#about" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#address" role="tab" aria-controls="profile" aria-selected="false">Address</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <a href="#" class="profile-edit-btn" name="btnAddMore">Edit Profile</a>
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>User Id</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= locals.user._id%></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= locals.user.name%></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= locals.user.email%></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= locals.user.mobile%></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Password</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= locals.user.password%></p>
                                    </div>
                                </div>
                    </div>
                    <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="profile-tab">
                        
                        <%
                        if(data){%>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>House No.</label>
                                </div>
                                <div class="col-md-6">
                                    <p><%= data?data.houseno:'' %></p>
                                </div>
                            </div>
                                        <div class="row">
                                        <div class="col-md-6">
                                            <label>Area</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p><%= data?data.area:'' %></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>City</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p><%= data?data.city:'' %></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Landmark</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p><%= data?data.landmark:'' %></p>
                                        </div>
                                        </div>
                                        <div class="row">
                                        <div class="col-md-6">
                                            <label>Zip</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p><%= data?data.zip:'' %></p>
                                        </div>
                                        </div>  
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>District</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= data?data.district:'' %></p>
                                            </div>
                                            </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>State</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p><%= data?data.state:'' %></p>
                                        </div>
                                    </div>    
                        <%} else {
                        %>
                        Address not found! Please update or insert new address.
                        <% }%>
                                                     
                    </div>
                </div>
            </div>
        </div>
    </form>           
</div>
<!-- <div class="container">
    <form>
        <div class="card m-auto">
            <div class="card-body">
                <div class="value">
                    <p><b>Name:</b><br /></p>
                    <input type="text" name="name" value="<%= locals.user.name %>" disabled/>
                </div>
                <div class="btnEdit">
                    <button type="button" class="btn btn-primary btn-sm">Edit</button>
                </div>
            </div>
            <hr />
            <div class="card-body">
                <div class="value">
                    <p><b>Mobile:</b><br /></p>
                    <input type="text" name="mobile" value="<%= locals.user.mobile %>" disabled/>
                </div>
                <div class="btnEdit">
                    <button type="button" class="btn btn-primary btn-sm">Edit</button>
                </div>
            </div>
            <hr />
            <div class="card-body">
                <div class="value">
                    <p><b>Email:</b><br /></p>
                    <input type="text" name="email" value="<%= locals.user.email %>" disabled/>
                </div>
                <div class="btnEdit">
                    <button type="button" class="btn btn-primary btn-sm">Edit</button>
                </div>
            </div>
            <hr />
            <div class="card-body">
                <div class="value">
                    <p><b>Password:</b><br /></p>
                    <input type="text" name="password" value="<%= locals.user.password %>" disabled/>
                </div>
                <div class="btnEdit">
                    <button type="button" class="btn btn-primary btn-sm">Edit</button>
                </div>
            </div>
            <hr />
        </div>
        <button type="submit" class="btn btn-primary btn-sm m-2">Update</button>
    </form>
</div> -->