<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                                <%= locals.user.name%>
                            </h5>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#about" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#address" role="tab" aria-controls="profile" aria-selected="false">Address</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-md-2">
                <a href="updateProfile/<%= locals.user._id%>" class="profile-edit-btn" name="btnAddMore">Edit Profile</a>
            </div> -->
        </div>
        <div class="row">
            
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>User Id</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= locals.user._id%></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= locals.user.name%><span>
                                        <button type="button" id="Name" class="btn btn-sm btn-light ml-2 editButton">edit</button></span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= locals.user.email%></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= locals.user.mobile%><span>
                                            <button type="button" id="Mobile" class="btn btn-sm btn-light ml-2 editButton">edit</button></span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Password</label>
                                    </div>
                                    <div class="col-md-6"> 
                                        <p><%= "******"%> 
                                            <span>
                                                <button type="button" onclick="location.href ='/user/forgotPassword' " class="btn btn-sm btn-light ml-2 editProfileButton">edit</button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                    </div>
                    <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="profile-tab">
                        
                        <%
                        if(data){%>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>House No.</label>
                                </div>
                                <div class="col-md-6">
                                    <p><%= data?data.houseno:'' %></p>
                                </div>
                            </div>
                                        <div class="row">
                                        <div class="col-md-6">
                                            <label>Area</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p><%= data?data.area:'' %></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>City</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p><%= data?data.city:'' %></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Landmark</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p><%= data?data.landmark:'' %></p>
                                        </div>
                                        </div>
                                        <div class="row">
                                        <div class="col-md-6">
                                            <label>Zip</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p><%= data?data.zip:'' %></p>
                                        </div>
                                        </div>  
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>District</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= data?data.district:'' %></p>
                                            </div>
                                            </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>State</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p><%= data?data.state:'' %></p>
                                        </div>
                                    </div>    
                        <%} else {
                        %>
                        Address not found! Please update or insert new address.
                        <% }%>
                                                     
                    </div>
                </div>
            </div>
        </div>
    </form>           
</div>

<div id="update-modal">
    <div class="modal-sm custom-modal-sm  mx-auto">
      <div class="modal-content custom-modal-contant">
          <div class="modal-body">
           <form>
            <div class="form-group">
                <label id="lable" ></label>
             <input type="text" class="form-control" id="input">
            </div>
            <div class="form-group">
             <div>
                 <button type="button" class="btn btn-secondary btn-sm closeButton">Close</button>
                 <button type="button" class="btn btn-success btn-sm submitChange">Submit</button>
            </div>
            </form>
          </div>
      </div>
    </div>
  </div>